# Android Studio
.idea
.gradle
/local.properties
/.externalNativeBuild
/captures/
/build/

# User-specific configurations
*.iml
*.hprof

# OS-specific files
.DS_Store
Thumbs.db

# Android specific
*.apk
*.ap_
*.dex
*.class
*.log

# Gradle specific
.gradle/
build/
!gradle-wrapper.jar

# Android Studio's generated folders
.idea/
.idea/libraries/
.idea/modules.xml

# Keystore files
*.jks
*.keystore
